@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  user-select: none;
  font-family: "Jost";
}

button {
  width: 150px;
  height: 50px;
  font-size: 24pt;
}

/*Začátek startu*/

#start {
  display: flex;
  align-items: center;
  justify-content: center;
}

#startButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

#start img {
  width: 400px;
  height: 400px;
}

#story {
  display: none;
  width: 50%;
  border: 2px #000 solid;
  background-color: #c3c3c3;
  padding: 2%;
  border-radius: 15px;
  margin: auto;
  font-size: 24pt;
}

#storyEnd {
  display: none;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

/*Začátek restaurace*/

#restaurant {
  background-image: url(../img/pozadi.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 1080px;
}

#table {
  width: 76%;
  float: left;
}

#salam {
  display: inline;
}

#salam p {
  display: inline;
}

#cheese {
  display: inline;
}

#cheese p {
  display: inline;
}

#ham {
  display: inline;
}

#ham p {
  display: inline;
}

#sauce {
  display: inline;
}

#sauce p {
  display: inline;
}

#dough {
  display: inline;
}

#dough p {
  display: inline;
}

#tableInfo {
  float: left;
  width: 70%;
  border: solid #000 2px;
  background-color: #c3c3c3; 
  border-radius: 15px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 200px;
}

#order {
  width: 22%;
  float: left;
}

#orderButton {
  width: auto;
}

#order img {
  display: none;
  float: right;
}
